/* below the fold CSS goes here */
@font-face {
  font-family: 'thesansv2ot 4sl';
  src: url('./GrundfosTheSansV2OT-4SL.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'thesansv2ot 9bl';
  src: url('./GrundfosTheSansV2OT-9BL.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
